* {
  margin: 0;
  padding: 0;
}

/* Header Section */

header {
  position: absolute;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #3c3a39;
}

header > * {
  margin: 10px 20px;
  padding: 8px;
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 24px;
  color: white;
}

/* Button Section */

button:enabled {
  background-color: #f55800;
  color: white;
  border: none;
}

button:hover {
  background-color: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

.gen-desc button {
  margin: 20px 0;
}

button:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
  border: none;
}

button:enabled:active {
  background-color: #e05304;
  color: white;
  border: none;
}

/* Body Section */

.container {
  position: relative;
  width: 100%;
  top: 50px;
}

/* Headline Section */

.headline {
  list-style: none;
  min-height: 590px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1c1a19;
  background-image: url('assets/images/illustration-header-mobile.png');
  background-repeat: no-repeat;
  background-position-x: calc(100% + 325px);
  background-position-y: 118%;
}

.headline > * {
  margin: 5px 20px;
  width: 330px;
}

.headline h1,
.heading-text {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.supporting-text h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

.description {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.social-media {
  display: flex;
}

.social-media a {
  margin: 10px;
  color: #dbd8d7;
  font-size: 19px;
}

/* Works Section */

.recent-works h2 {
  margin: 80px 20px;
  padding-bottom: 25px;
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  color: #1c1a19;
  border-bottom: 1px solid #212121;
}

.grid-con,
.card-works {
  margin: 80px 0;
  display: grid;
  row-gap: 25px;
}

.featured,
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
}

.featured > *,
.card > * {
  width: 88%;
}

.right-block {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.right-block h3 {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
}

.right-block p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.skills li {
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  list-style: none;
  row-gap: 12px;
}

.right-block .tags {
  column-gap: 12px;
  display: flex;
  list-style: none;
}

.skill-type li {
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 43px;
  text-align: center;
}

.right-block .tags li {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
  padding: 10px 12px;
  border: 1px solid #8993a4;
  color: #091e42;
}

.regular-btn {
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.right-block .regular-btn {
  width: 120px;
}

.card-btn {
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

/* Card Works */

.card img {
  position: absolute;
  z-index: -1;
}

.card .right-block {
  flex-direction: column-reverse;
  height: 390px;
}

.card h3,
.card p,
.card ul {
  padding: 0 15px;
  color: white;
}

.card h3 {
  order: 3;
}

.card p {
  order: 2;
}

.card ul {
  order: 1;
}

.card .right-block .tags li {
  border: none;
  background: rgba(255, 255, 255, 0.24);
  color: white;
}

/* About Section */

.about {
  list-style: none;
  min-height: 1800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1c1a19;
  background-image: url('assets/images/Frame.png');
  background-repeat: no-repeat;
  background-size: 35%;
  background-position-x: calc(100%);
  background-position-y: 18%;
}

.gen-desc {
  width: 88%;
  margin-bottom: 155px;
}

.gen-desc > * {
  margin: 6px 0;
}

.paragraph-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

/* Skills Section */

.skills {
  height: 1200px;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid white;
  row-gap: 24px;
}

.sub-skills {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.sub-skills img {
  width: 18px;
  height: 18px;
}

.skill-type {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

/* Contact form */

.form-container {
  display: grid;
  grid-template-columns: 2;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.contact-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172B4D;
  margin: 120px 24px 60px;
}

.input-field,
.textarea-field{
  width: 327px;
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.input-field {
  height: 48px;
  border-bottom: 1px solid #DBD8D7;
}

.textarea-field{
  height: 114px;
}

.submit-btn {
  width: 130px;
  height: 48px;
}

footer { 
  margin-top: 100px; 
  display: flex; 
  justify-content: center;
} 

footer a { 
  margin: 10px; 
  color: #505F79; 
  font-size: 19px; 
} 